/* Style for Şevket Tan's website */
body {
  background-image: url('Meer1.png'); /* Pfad zum Bild im Hauptverzeichnis */
  background-size: cover;
  background-repeat: no-repeat;
}

/*body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;*/
}

header {

  background-color: rgba(0, 188, 212, 0,3); /* Halbtransparentes Blau */
  color: white;
  text-align: center;
  padding: 20px 0;

    /*background-color: #00bcd4;
    color: white;
    text-align: center;
    padding: 20px 0;*/
}

header h1 {
    font-size: 2.5em;
}

section {
    padding: 20px;
}

h2 {
    color: #00796b;
}

ul {
    list-style-type: none;
    padding: 0;
}

.package {
    background-color: #e0f7fa;
    border: 1px solid #00796b;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.package h3 {
    color: #00796b;
}

footer {
    text-align: center;
    background-color: #00bcd4;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
